.Current-Reservation {
    font-weight: 600;
}

.reservation {
    position: relative;
    margin-left: 200px;
    width: 83.9%;
    height: 100vh;
    padding: 3% 3%;
}

.reservation table {
    margin: auto;
    border-collapse: collapse;
}

.reservation table tr td {
    padding: 5px;
    font-size: 14px;
    border: 0.5px solid pink;
}

.app-title {
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: 2px;
    color: pink;
    text-shadow: 1px 1px 1px black;

}

.userID {
    color: red;
    font-weight: 600;
}

.table-head {
    background-color: rgb(255, 213, 221);
}

.table-head td {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(252, 252, 252);
    font-weight: 600;
}

.btn button{
    color: black;
    padding: 2px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.btn2 button {
    color: red;
    padding: 2px;
    font-weight: 500;
    border: 1px solid red;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

.btn button:hover {
    background-color: rgb(238, 238, 238);
}

.btn2 button:hover {
    background-color: rgb(255, 203, 203);
}